<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>新域公司</title>
    <link rel="stylesheet" href="../style/weui/weui.css"/>
    <link rel="stylesheet" href="../style/weui/example.css"/>
</head>
<body ontouchstart>
  <input type="hidden" id="hidopenId" name="technicianOpenId" th:value="${technicianOpenId}">
  <input type="hidden" id="hidorderId" name="Id" th:value="${orderId}">
  <input type="hidden" id="photoname" th:value="${image}">
  <input type="hidden" id="canRepath" th:value="${canRepath}">
  <div class="weui-toptips weui-toptips_warn js_tooltips"></div>

  <div class="container js_container" id="container">
  </div>
  
<div style="display:none" id="depathU">
	<div th:each="depath:${depathList}">
	<label class="weui-cell weui-cell_active weui-check__label" th:for="${depath.id}">
    	<div class="weui-cell__bd">
        	<p th:text="${depath.name}"></p>
        </div>
        <div class="weui-cell__ft">
            	<input type="radio" class="weui-check" name="technicianId" th:value="${depath.id}" th:id="${depath.id}" />
        	<span class="weui-icon-checked"></span>
        </div>
	</label>
	</div>
</div>    


<script type="text/html" id="tpl_home">
<div class="page">
  <div class="weui-form">
    <div class="weui-form__text-area">
      <h1 class="weui-form__title">
		工单维修反馈
	  </h1>
    </div>
    <div class="weui-form__control-area">
	<div class="weui-cells__group weui-cells__group_form">
		<div class="weui-cells__title">报修详情</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <img id="orderInfoImage" style="max-width:100%;height:auto;" src="../img" alt="">
                </div>
            </div>
        </div>
	</div>
	
	<form id='feedbackForm' enctype='multipart/form-data' method='POST'>
	<div class="weui-cells__group weui-cells__group_form">
		<div class="weui-cells__title">设备编码</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input name="sn" class="weui-input">
                </div>
            </div>
        </div>
	</div>
      <div class="weui-cells__group weui-cells__group_form">
        <div class="weui-cells__title">文本域</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入文本" rows="3"></textarea>
                    <div class="weui-textarea-counter"><span>0</span>/200</div>
                </div>
            </div>
        </div>
		  <div class="weui-cells weui-cells_form" id="uploader">
     <div class="weui-cell">
         <div class="weui-cell__bd">
             <div class="weui-uploader">
                 <div class="weui-uploader__hd">
                     <p class="weui-uploader__title">图片上传</p>
                     <div class="weui-uploader__info"><span id="uploadCount">0</span>/5</div>
                 </div>
                 <div class="weui-uploader__bd">
                     <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                     <div class="weui-uploader__input-box">
                         <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="" />
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</form>
<div id="gallery" class="weui-gallery">
    <span class="weui-gallery__img" style="background-image: url(xxx);"></span>
    <div class="weui-gallery__opr">
        <a href="javascript:" class="weui-gallery__del">
            <i class="weui-icon-delete weui-icon_gallery-delete"></i>
        </a>
    </div>
		  <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label"></label></div>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-form__opr-area">
      <a class="weui-btn weui-btn_primary weui-btn_disabled" href="javascript:" id="showTooltips">确定</a>
	  <a class="weui-btn weui-btn_primary" href="javascript:" id="redepathOrder">转派</a>
    </div>
  </div>
</div>
<!-- loading toast -->
 <div id="loadingToast" style="display:none;">
     <div class="weui-mask_transparent"></div>
     <div class="weui-toast">
         <i class="weui-loading weui-icon_toast"></i>
         <p class="weui-toast__content">数据加载中</p>
     </div>
 </div>  
</div>

<script type="text/javascript">
    $(function(){
		var formData = new FormData($( "#feedbackForm" )[0]); 
		formData.append('technicianOpenId',$('#hidopenId').val());
		formData.append('orderId',$('#hidorderId').val());
		var canRedepath = $('#canRepath').val()
		var pname = $("#photoname").val();
		$("#orderInfoImage").attr("src","/img/"+pname);
		var $textarea = $('.weui-textarea');
		var $tooltips = $('.js_tooltips');
		var $loadingToast = $('#loadingToast');
		var uploadCount = 0;
		if(canRedepath == "false"){
			$('#redepathOrder').remove();
		}
		weui.uploader('#uploader', {
   			url: 'http://localhost:8080',
   			auto: false,
   			type: 'file',
   			fileVal: 'fileVal',
   			compress: {
       			width: 1600,
       			height: 1600,
       			quality: .8
   			},
   			onBeforeQueued: function(files) {
       			// `this` 是轮询到的文件, `files` 是所有文件
       			if(["image/jpg", "image/jpeg", "image/png", "image/gif"].indexOf(this.type) < 0){
           			weui.alert('请上传图片');
           			return false; // 阻止文件添加
       			}
       			if(this.size > 10 * 1024 * 1024){
           			weui.alert('请上传不超过10M的图片');
           			return false;
       			}
       			if (files.length > 5) { // 防止一下子选择过多文件
           			weui.alert('最多只能上传5张图片，请重新选择');
           			return false;
       			}
       			if (uploadCount + 1 > 5) {
           			weui.alert('最多只能上传5张图片');
           			return false;
       			}
				formData.append("file",this);
       			++uploadCount;
				$('#uploadCount').text(uploadCount);
       			// return true; // 阻止默认行为，不插入预览图的框架
   			},
   			onQueued: function(){
       			console.log(this);
				
       			// console.log(this.status); // 文件的状态：'ready', 'progress', 'success', 'fail'
       			// console.log(this.base64); // 如果是base64上传，file.base64可以获得文件的base64

       			// this.upload(); // 如果是手动上传，这里可以通过调用upload来实现；也可以用它来实现重传。
       			// this.stop(); // 中断上传

       			// return true; // 阻止默认行为，不显示预览图的图像
   			},
   			onBeforeSend: function(data, headers){
       			console.log(this, data, headers);
       			// $.extend(data, { test: 1 }); // 可以扩展此对象来控制上传参数
       			// $.extend(headers, { Origin: 'http://127.0.0.1' }); // 可以扩展此对象来控制上传头部

       			// return false; // 阻止文件上传
   			},
   			onProgress: function(procent){
       			console.log(this, procent);
       			// return true; // 阻止默认行为，不使用默认的进度显示
   			},
   			onSuccess: function (ret) {
       			console.log(this, ret);
       			// return true; // 阻止默认行为，不使用默认的成功态
   			},
   			onError: function(err){
       			console.log(this, err);
       			// return true; // 阻止默认行为，不使用默认的失败态
   			}
		});

		$textarea.on('input', function(){
        	var $value = $textarea.val();
			$('.weui-textarea-counter').children("span").eq(0).text($value.length);
        	if ($value){
          		$('#showTooltips').removeClass('weui-btn_disabled');
        	}else{
          		$('#showTooltips').addClass('weui-btn_disabled');
       		}
      	});

		$('#redepathOrder').on('click', function(){
			window.pageManager.go('depath');
		});

		$('#showTooltips').on('click', function(){
        	if ($(this).hasClass('weui-btn_disabled')) return;
			$(this).addClass('weui-btn_disabled');
			if ($loadingToast.css('display') != 'none') return;
            $loadingToast.fadeIn(100);
			var button = $(this);
          	var $value = $textarea.val();

                
          	if($value.length == ''){
            	$cell.addClass('weui-cell_warn');
            	$tooltips.fadeIn(100);
            	setTimeout(function () {
              		$tooltips.fadeOut(100);
            	}, 2000);
          	}else{
				formData.append('report',$value);
				$.ajax({
    				url:"maintenanceFeedback",    //请求的url地址
    				async:false,
    				type:"POST",   //请求方式
    				data:formData,    //参数值
					contentType: false,   //jax 中 contentType 设置为 false 是为了避免 JQuery 对其操作，从而失去分界符，而使服务器不能正常解析文件
                	processData: false,
    				success:function(req){
						$tooltips.css('display','block');
						$loadingToast.fadeOut();
						$tooltips.text(req.msg);
						if(req.code == 0){
							$tooltips.removeClass('weui-toptips_warn');
							$tooltips.addClass('weui-toptips_success');
						}else {
							$tooltips.removeClass('weui-toptips_success');
							$tooltips.addClass('weui-toptips_warn');
							$('#feedbackButton').removeClass('weui-btn_disabled');
						}
						setTimeout(function () {
  							$tooltips.css('display','none');
 						}, 2000);
    				},
				});
          	}

		});


	});
</script>
</script>

<script type="text/html" id="tpl_depath">
<div class="page">
  <div class="weui-form">
    <div class="weui-form__text-area">
      <h2 class="weui-form__title">选择技术员派单</h2>
    </div>
    <div class="weui-form__control-area">
      <div class="weui-cells__group weui-cells__group_form">
        <div class="weui-cells weui-cells_radio" id="weui-cells_radio">
        </div>
      </div>
    </div>
    <div class="weui-form__opr-area">
      <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltipsDepath">确定</a>
    </div>
  </div>
  <div id="js_toast" style="display: none;">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast">
          <!--<i class="weui-icon-success-no-circle weui-icon_toast"></i>-->
          <p class="weui-toast__content">已完成</p>
      </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        var $tooltips = $('.js_tooltips');
      	var $toast = $('#js_toast');
		$("#weui-cells_radio").append($("#depathU").html());
		$("input[type='radio']").eq(0).click();

        $('#showTooltipsDepath').on('click', function(){
			$('#showTooltipsDepath').addClass('weui-btn_disabled');
			var did = $("input[name='technicianId']:checked").val();
			var openId = $('#hidopenId').val();
			var orderId = $('#hidorderId').val();
            $.ajax({
    				url:"redepathOrders",    //请求的url地址
    				async:false,
    				type:"POST",   //请求方式
    				data:{"technicianId":did,"ids":orderId,"depathUserId":openId},    //参数值
    				success:function(req){
						$toast.find(".weui-toast__content").text(req.msg);
						console.log(req.msg);
						if(req.code == 0){
							$tooltips.removeClass('weui-toptips_warn');
							$tooltips.addClass('weui-toptips_success');
						}else {
							$tooltips.removeClass('weui-toptips_success');
							$tooltips.addClass('weui-toptips_warn');
							$('#showTooltipsDepath').removeClass('weui-btn_disabled');
						}
						setTimeout(function () {
  							$tooltips.css('display','none');
 						}, 2000);
    				},
				});

            $toast.fadeIn(100);
            setTimeout(function () {
              $toast.fadeOut(100);
            }, 2000);
        });
    });
</script>
</script>
    
    <script src="../scripts/weui/zepto.min.js"></script>
    <script src="../scripts/weui/weui.min.js"></script>
    <script src="../scripts/weui/example.js"></script>
</body>
</html>