<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>新域工单后台管理系统</title>
<link rel="stylesheet" href="style/layui/layui.css">
<script src="scripts/layui/layui.all.js" type="text/javascript"></script>
<link href="style/layui/layui.css" rel="stylesheet" type="text/css">
<script src="scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<style>


</style>
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<div class="layui-logo"><img src="images/xinyulogo.jpg" class="layui-nav-img">新域后台</div>
			<!-- 头部区域（可配合layui已有的水平导航） -->
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item"><a href="http://www.xywxfw.com/"  target="_blank">官网</a></li>
				<!-- <li class="layui-nav-item"><a href="">商品管理</a></li>
				<li class="layui-nav-item"><a href="">用户</a></li>
				<li class="layui-nav-item"><a href="javascript:;">其它系统</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">邮件管理</a>
						</dd>
						<dd>
							<a href="">消息管理</a>
						</dd>
						<dd>
							<a href="">授权管理</a>
						</dd>
					</dl>
				</li> -->
			</ul>
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item"><a href="javascript:;"> <img
						src="http://t.cn/RCzsdCq" class="layui-nav-img">[(${session.userId})]</span><span class="layui-nav-more"></span>
				</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="">基本资料</a>
						</dd>
						<dd>
							<a href="">安全设置</a>
						</dd>
					</dl></li>
				<li class="layui-nav-item"><a href="javascript:void(0)"
					onclick="logout()">退出</a></li>
			</ul>
		</div>

		<div class="layui-side layui-bg-black">
			<div class="layui-side-scroll">
				<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
				<ul class="layui-nav layui-nav-tree" th:each="entries,stat:${menuList}">
					<li class="layui-nav-item">
						<a class="" href="javascript:;">[(${entries.name})]
							<span class="layui-nav-more"></span>
						</a>
						<dl class="layui-nav-child" th:each="subEntries,stat:${entries.subMenuList}">
							<dd>
								<a th:data-url="@{${subEntries.url}}" th:data-id="@{${subEntries.menuType}}" th:data-title="@{${subEntries.name}}" href="#" class="site-demo-active" data-type="tabAdd">[(${subEntries.name})]</a>
							</dd>
						</dl>
					</li>
					<a id="helloPage" data-url="echarts" data-id="000000" data-title="数据总览" href="#" class="site-demo-active" data-type="tabAdd"></a>
				</ul>
			</div>
		</div>
		
		<div class="layui-body">
			<div class="layui-tab layui-tab-card" lay-filter="demo" lay-allowclose="true" >
                <ul class="layui-tab-title">
                </ul>
                <div class="layui-tab-content" style="margin-top: 50px;">
            	</div>
        	</div>
			
			
		</div>

		<div class="layui-footer">
			<!-- 底部固定区域 -->
			© xinyu.com - 联系方式：3907844 地址：广东省湛江市坡头区南调路商业街235-236号
		</div>
	</div>
	<script>
		//JavaScript代码区域
		$(function(){
			$('.layui-nav').children('.layui-nav-item').on('click', function(){
	        	if ($(this).hasClass('layui-nav-itemed')){
	        		$(this).removeClass('layui-nav-itemed');
	        	}else {
	        		$('.layui-nav-item').each(function(){
	        			$(this).removeClass('layui-nav-itemed');
	        		});
	        		$(this).addClass('layui-nav-itemed');
	        	}
			});
			$("#helloPage").click();
		});
		
		
		layui.use('element', function() {
			var element = layui.element;
			//触发事件
            var active = {
                //在这里给active绑定几项事件，后面可通过active调用这些事件
                tabAdd: function(url,id,name) {
                    //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                    //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                    element.tabAdd('demo', {
                        title: name,
                        content: '<iframe data-frameid="'+id+'" scrolling="auto" frameborder="0" src="'+url+'" style="width:100%;height:99%;"></iframe>',
                        id: id //规定好的id
                    });
                    FrameWH();  //计算ifram层的大小
                },
                tabChange: function(id) {
                    //切换到指定Tab项
                    element.tabChange('demo', id); //根据传入的id传入到指定的tab项
                }, 
                tabDelete: function (id) {
                	element.tabDelete("demo", id);//删除
                },
                tabDeleteAll: function (ids) {//删除所有
                    $.each(ids, function (i,item) {
                        element.tabDelete("demo", item); //ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
                    })
                }
            };


            //当点击有site-demo-active属性的标签时，即左侧菜单栏中内容 ，触发点击事件
            $('.site-demo-active').on('click', function() {
                var dataid = $(this);
                //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
                if ($(".layui-tab-title li[lay-id]").length <= 0) {
                    //如果比零小，则直接打开新的tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
                } else {
                    //否则判断该tab项是否以及存在

                    var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                    $.each($(".layui-tab-title li[lay-id]"), function () {
                        //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                        if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                            isData = true;
                        }
                    })
                    if (isData == false) {
                        //标志为false 新增一个tab项
                        active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
                    }
                }
                //最后不管是否新增tab，最后都转到要打开的选项页面上
                active.tabChange(dataid.attr("data-id"));
                $('.site-demo-active').each(function(){
                	$(this).removeClass('layui-this')
                });
                $(this).addClass('layui-this');
                return false;
            });

            
            function FrameWH() {
                var h = $(window).height() -41- 10 - 60 -10-44 -10;
                $("iframe").css("height",h+"px");
            }

            $(window).resize(function () {
                FrameWH();
            })

		});

		function logout() {
			if (confirm("您确定要退出本系统吗？")) {
				window.location.href = "logout";
			}
		}

	</script>
</body>
</html>