<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="style/layui/layui.css" rel="stylesheet" type="text/css">
<script src="scripts/layui/layui.all.js" type="text/javascript"></script>
<script src="scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<style>
	.layui-form-label.required:after{
        content:"*";
        color:red;
        position: absolute;
    }
</style>
</head>
<body>
<div id="list">
	<div class="demoTable" style="padding-left:20px">
  		<div class="layui-inline">
  		<input class="layui-input" placeholder="名称" name="userName" id="parm1" autocomplete="off">
  		</div>
  		<button class="layui-btn" id="tableSearch" data-type="reload">搜索</button>
	</div>
	<table  id="userList" lay-filter="user"></table>
	<script type="text/html" id="toolbar">
  		<div class="layui-btn-container">
    		<button class="layui-btn layui-btn-sm" lay-event="newUser">新增</button>
  		</div>
	</script>
 
	<script type="text/html" id="bar">
  		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
</div>
<div id="newOrEdit"  class="layui-hide">
 <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>新增/编辑账号</legend>
</fieldset>	
 
<form class="layui-form" id="userForm" lay-filter="userForm" method="POST">
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label required">ID</label>
      <div class="layui-input-inline">
        <input type="text" name="id" lay-verify="required" autocomplete="off" class="layui-input">
        <input type="hidden" name="oldid" autocomplete="off" class="layui-input">
        <input type="hidden" name="openID" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
    <label class="layui-form-label required">地区</label>
    <div class="layui-input-inline">
      <select name="city" lay-verify="required" lay-filter="city" lay-search="">
      	<option value="">直接选择或搜索选择</option>
        <option th:each="city:${cityList}" th:value="${city.name}"
                                th:text="${city.cnName}"></option>
      </select>
    </div>
    </div>
    <div class="layui-inline">
    <label class="layui-form-label required">单位部门</label>
    <div class="layui-input-inline">
      <select name="unit.id" lay-verify="required" lay-filter="unit" lay-search="">
      	<option value="">直接选择或搜索选择</option>
      	<option th:each="unit:${unitList}" th:value="${unit.id}"
                                th:text="${unit.name}"></option>
      </select>
    </div>
    </div>
    <div class="layui-inline">
    	<button type="button" onclick="newUnit();" class="layui-btn layui-btn-xs"><i class="layui-icon">新建</i></button>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label required">用户名</label>
      <div class="layui-input-inline">
        <input type="text" name="name" lay-verify="required"  autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label required">密码</label>
      <div class="layui-input-inline">
        <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">联系电话</label>
      <div class="layui-input-inline">
        <input type="text" name="telephone" lay-verify="required" autocomplete="off" class="layui-input">
      </div>
    </div>
  </div>
 
 <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>用户角色</legend>
</fieldset>
	<div class="layui-form-item">
		<div id="userRole" class="demo-transfer" style="margin:10px 110px"></div>
	</div>
  <div class="layui-form-item"></div> 
  <div class="layui-form-item">
    <div class="layui-input-block">
<!-- 	  <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">赋值</button>
 -->      <button id="userCommit" class="layui-btn" lay-submit="" lay-filter="user">立即提交</button>
      <button type="reset" id="formReset" class="layui-btn layui-btn-primary">重置</button>
      <button type="button" onclick="backcall()" class="layui-btn layui-btn-primary">返回</button>
    </div>
  </div>
  
</form>
<script>
	var dataTemp = null; 
	layui.use('table', function(){
	  var table = layui.table;
	  table.render({
	    elem: '#userList',
	    url:'userTableData',
	    toolbar: '#toolbar', //开启头部工具栏，并为其绑定左侧模板
	    defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
	    	title: '提示'
	    	,layEvent: 'LAYTABLE_TIPS'
	    	,icon: 'layui-icon-tips'
	    }],
	    page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
	      layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
	      //,curr: 5 //设定初始在第 5 页
	      groups: 1, //只显示 1 个连续页码
	      first: false, //不显示首页
	      last: false //不显示尾页
	      
	    },
	    id: 'tableReload',
	  	where: {},
	    cols: [
	    	[
	       {type: 'checkbox', fixed: 'left'}
	      ,{field:'id', width:'8%', title: 'ID', sort: true}
	      ,{field:'name', width:'15%', title: '名称'}
	      ,{field:'unitName', width:'18%', title: '单位', sort: true}
	      ,{field:'telephone', width:'40%', title: '联系电话', sort: true}
	      ,{fixed: 'right', title:'操作', toolbar: '#bar', width:'15%'}
	    	]
	    ]
	    
	  });
	  
	  table.on('toolbar(user)', function(obj){
		var checkStatus = table.checkStatus(obj.config.id);
		    switch(obj.event){
		      case 'newUser':
		    	  exchange();
		      break;
		      //自定义头工具栏右侧图标 - 提示
		      case 'LAYTABLE_TIPS':
		        layer.alert('这是工具栏右侧自定义的一个图标按钮');
		      break;
		    };
		  });
		  
		  //监听行工具事件
		  table.on('tool(user)', function(obj){
		    var data = obj.data;
		    //console.log(obj)
		    if(obj.event === 'del'){
		      layer.confirm('确认删除？', function(index){
		        $.post('deleteUser',{"userId":data.id},function(result){
		        	obj.del();
		     		layer.msg(result.msg);
		     	});
		        layer.close(index);
		        
		      });
		    } else if(obj.event === 'edit'){
		    	$.ajax({
	                type : "get",
	                url : "getUserInfo",
	                async : false,
	                data : {"userId":data.id},  // 你的formid
	                success : function(user) {
	                	var form = layui.form;
	                	var transfer = layui.transfer;
	                	form.val('userForm', {//filter
	                		"name": user.name
	                		,"id": user.id
	                		,"oldid": user.id
	                		,"password": user.password
	                		,"telephone": user.telephone
	                		,"openID": user.openID
	    				});
	                	$("select[name='unit.id']").val(user.unit.id);
	                	$("select[name='city']").val(user.city);
	                	form.render("select");
	                	let val = []; 
	                	for(let i=0;i<user.roles.length;i++){
	                		val.push(user.roles[i].id);
	                	}
	                	
	                	//定义标题及数据源
	          		  	transfer.render({
	          		    	elem: '#userRole'
	          		    	,id:'userRole'
	          		    	,title: ['未添加', '已添加']  //自定义标题
	          		  		,data: dataTemp
	          				,parseData: function(res){
	          			    	return {
	          			      	"value": res.id //数据值
	          			      	,"title": res.cname //数据标题
	          			      	,"disabled": false  //是否禁用
	          			      	,"checked": false //是否选中
	          			    	}
	          			  	}
	          		    	,width: 200 //定义宽度
	          		    	,height: 250 //定义高度
	          		    	,value: val
	          		  	})
	                	exchange();
	                }
	             })
		    	
		    	
		    }
		  });
		  
		  var $ = layui.$, active = {
			reload: function(){
				var param1 = $('#parm1').val();
				//执行重载
				table.reload('tableReload', {
					page: {
						curr: 1 //重新从第 1 页开始
					}
					,where: {
						userName: param1
					}
				}, 'data');
			}
		  };
				  
		$('.demoTable .layui-btn').on('click', function(){
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
	});
	
	layui.use(['form','transfer'], function(){
		  var form = layui.form
		  ,layer = layui.layer
		  ,transfer = layui.transfer
		  
		//模拟数据
		  $.ajax({
                cache : true,
                type : "post",
                url : "roleData",
                async : false,
                success : function(req) {
                	if (req.code == 0) {
                		dataTemp = req.data;                		
                	}
                }
          });
		  
		//定义标题及数据源
		  transfer.render({
		    elem: '#userRole'
		    ,id:'userRole'
		    ,title: ['未添加', '已添加']  //自定义标题
		  	,data: dataTemp
			,parseData: function(res){
			    return {
			      "value": res.id //数据值
			      ,"title": res.cname //数据标题
			      ,"disabled": false  //是否禁用
			      ,"checked": false //是否选中
			    }
			  }
		    ,width: 200 //定义宽度
		    ,height: 250 //定义高度
		  })
		  
		  form.render();
		  
		  //自定义验证规则
		  form.verify({
		    title: function(value){
		      if(value.length < 5){
		        return '标题至少得5个字符啊';
		      }
		    }
		    ,pass: [
		      /^[\S]{6,12}$/
		      ,'密码必须6到12位，且不能出现空格'
		    ]
		    ,content: function(value){
		      layedit.sync(editIndex);
		    }
		  });
		  
		  //监听提交
		  form.on('submit(user)', function(data){
			var fd = new FormData();
		    var formData = new FormData($( "#userForm" )[0]); 
		    var getData = transfer.getData('userRole');
		    var roles = "";
		    for(let i=0;i<getData.length;i++){
		    	roles += getData[i].value+",";
		    }
		    formData.append("addRoles",roles);
	        $.ajax({
                cache : true,
                type : "post",
                url : "saveOrUpdateUser",
                async : false,
                data : formData,  // 你的formid
                contentType: false,   //jax 中 contentType 设置为 false 是为了避免 JQuery 对其操作，从而失去分界符，而使服务器不能正常解析文件
                processData: false,   //当设置为true的时候,jquery ajax 提交的时候不会序列化 data，而是直接使用data
                error : function(request) {
                    layer.alert('保存失败');
                },
                success : function(data) {
                	if (data.code == 0) {
                      	$("#formReset").click();
                      	$('input[name="oldid"]').val("");
                      	$('input[name="openID"]').val("");
                      	tableReload();
                      	var form = layui.form;
                      	form.render("select");
                      	layer.msg('提交成功');
                      	exchange();
                      } else {
                          layer.alert(data.msg);
                      }
                	}
             });
		    return false;

		  });
		  
		  //表单赋值
		  layui.$('#LAY-component-form-setval').on('click', function(){
		    form.val('userForm', {//filter
		      "id": "xiaoli" // "name": "value"
		      ,"name": "效力"
		      ,"password": "123456"
		   	  ,"telephone": "12838742934"
		    });
		  });
		  
		  //表单取值
		  layui.$('#LAY-component-form-getval').on('click', function(){
		    var data = form.val('example');
		    alert(JSON.stringify(data));
		  });
		  
		});
		
		function backcall() {
			layer.confirm('确认放弃页面所有数据？', {icon: 3, title:'提示'}, function(index){
				$("#formReset").click();
				$('input[name="oldid"]').val("");
              	$('input[name="openID"]').val("");
				layer.close(index);
				exchange();
			});
		}
		
		function exchange(){
			if($('#list').hasClass('layui-hide')){
				$('#list').removeClass('layui-hide');
				$('#newOrEdit').addClass('layui-hide');
			}else{
				$('#list').addClass('layui-hide');
				$('#newOrEdit').removeClass('layui-hide');
			}
		}
		
		function newUnit(){
			layer.prompt({
				  title: '请输入新增公司名称'
				}, function(value, index, elem){
					$.ajax({
		                type : "post",
		                url : "saveUnit",
		                async : false,
		                data : {"unitName":value},  // 你的formid
		                success : function(result) {
		                	if (result.code == 0) {
		                		let partHtml = "<option value='"+result.data[0].id+"'>"+result.data[0].name+"</option>";
		                		$("select[name='unit.id']").eq(0).append(partHtml);
		                		console.log($("select[name='unit.id']").eq(0));
		                      	let form = layui.form;
		                      	form.render("select");
		                      	layer.msg('提交成功');
		                      } else {
		                          layer.alert(result.msg);
		                      }
		                	}
		            });
				  	layer.close(index);
			});
			
		}
		
		function tableReload(){
			var table = layui.table;
			var param1 = $('#parm1').val();
			table.reload('tableReload', {
				where: {
					userName: param1
				}
			}, 'data');
		}
		
		
		
		
	
</script>
</body>
</html>